extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('/reviews', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')
          +navItem('/guide', 'Become a guide', 'user', true)
          +navItem('/sentApplications', 'Sent applications', 'info')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/tour-manager', 'Manage tours', 'map')
              +navItem('/user-manager', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Send your guide application
          
          //- WITHOUT API
          //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
          
          //- WITH API
          form.form.form-application-data
            .form__group
              label.form__label(for='name') Name(*autofill)
              input#name.form__input(type='text', value=`${user.name}`, required, name='name', disabled)
            .form__group.ma-bt-md
              label.form__label(for='birth') Birthdate
              input#birth.form__input(type='date', value=``, required, name='birth')

            .form__group
              label.form__label(for='address') Address
              input#address.form__input(type='text', required, placeholder='Address, Number' , name='address')
            .form__group
              label.form__label(for='zip') Zip
              input#zip.form__input(type='number', required, placeholder='1809' , name='zip')
              input#city.form__input(type='text', required, placeholder='New York' , name='city')
            .form__group
              label.form__label(for='description') Tell us a bit more about you
              textarea#description.form__input(rows='4' cols='50', required)



            .form__group.right
              button.btn.btn--small.btn--green Send application
              
        .line &nbsp;
        
       
            